{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">

    {% for list in active_listings %}
        <div class="card" style="width: 18rem; margin: 10px">
            {% if list.image != None and list.image != '' %}
                <img   class="card-img-top center" src= "{{ list.image }}"  style="width: 19rem;">
            {% else %} No Image Uploaded
            {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ list.title }}</h5>
            <p class="card-text">
                <li>Description: {{ list.content }}</li>
                <li>Current Bid: ${{ list.start_bid }}</li>
            </p>
            <a href="{% url 'show-listing' list.id %}"><button type="button" class="btn btn-info">View Item</button></a>
          </div>
        </div>
    {% endfor %}
</div>
</div>
    </div>
      </div>
{% endblock %}


