{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Login</h2>

    {% if message %}
        <div class="container">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="form-outline mb-4">
            <input autofocus id="usrnm" class="form-control" type="text" name="username" placeholder="Username">
            <label class="form-label" for="usrnm">User Name</label>
        </div>
        <!-- Password input -->
         <div class="form-outline mb-4">
            <input id="pswd" class="form-control" type="password" name="password" placeholder="Password">
             <label class="form-label" for="pswd">Password</label>
        </div>
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Login">
         <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}
</div>


