{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
<!--    OLD SHIT -->
<!--{% comment %} {% if listing.closed %}-->
<!--<div>Sorry, this item is no longer available.</div>-->
<!--{% endif %} {% endcomment %}-->

<!--<h1>{{ auction.title }}</h1>-->
<!--<ul>-->
<!--     {% comment %} {% if ended %}-->
<!--     <div><b>This auction has ended</b></div>-->
<!--     {% endif %} {% endcomment %}-->
<!--     <form action="{% url 'watchlist' auction.pk %}" method="POST">-->
<!--          {% csrf_token %}-->
<!--          {% if watched %}-->
<!--          <button type="submit" name="listing_id" value="{{auction.id}}"-->
<!--          class="btn btn-danger btn-sm">Remove From Watchlist</button>-->
<!--          {% else %}-->
<!--          <button type="submit" name="listing_id" value="{{auction.id}}"-->
<!--          class="btn btn-primary btn-sm">Add to Watchlist</button>-->
<!--          {% endif %}-->
<!--     </form>-->
<!--</br>-->
<!--<li>Description: {{ auction.content}}</li>-->
<!--<li>{% if auction.image != None and list.image != '' %}-->
<!--     <img src= "{{ auction.image }}" width="200" height="180">-->
<!--     {% else %} No Image Uploaded {% endif %}</li>-->
<!--     -->
<!--     <li>Category: {{ auction.category}}</li>-->
<!--{% comment %} I am handlign bids here: {% endcomment %}-->
<!--     <li> {% if highest_bid %}-->
<!--          Current Bid:{{ highest_bid|floatformat:2 }}-->
<!--          {% else %}-->
<!--          Starting Bid:{{ highest_bid|floatformat:2 }}-->
<!--          {% endif %}</li>-->
<!--      {% if request.user.is_authenticated %}-->
<!--      <form method="POST" action="{% url 'new-bid' auction.id %}">-->
<!--      {% csrf_token %}-->
<!--      <div class="form-group">-->
<!--      {{ bid.bid }}<input class="btn btn-primary" type="submit" value="Place Bid"/>-->
<!--        {% if messages %}-->
<!--        {% for message in messages %}-->
<!--        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}-->
<!--        {{ message }}-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--      </div>-->
<!--      </form>-->
<!--      {% comment %} {% else %} <li> This is your own listing,-->
<!--      you can not bid against your listing, see other listings.</li> {% endcomment %}-->
<!--     {% endif %}-->

<!--{% comment %} I am handling closing bid here: {% endcomment %}-->
<!--     {% if auction.close == False %}-->
<!--     <form method="POST" action= "{% url 'close-listing' auction.id %}">-->
<!--       {% csrf_token %}-->
<!--       <input class="btn btn-danger" type="submit" value="Close My Auction"/>-->
<!--       {% if messages %}-->
<!--       {% for message in messages %}-->
<!--       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}-->
<!--        {{ message }}-->
<!--        {% endif %}-->
<!--       {% endfor %}-->
<!--       {% endif %}  -->
<!--     </form>-->
<!--     {% endif %}-->
<!--     -->
<!--{% comment %} I am handling comments here: {% endcomment %}-->
<!--      <form method="post">-->
<!--      {% csrf_token %} {{ form.as_p }}-->
<!--      <input type="Submit" value="Save"/>-->
<!--      </form>-->
<!--      {% for user_comments in comments  %}-->
<!--      <li>Comments: {{ user_comments.comment}}</li>-->
<!--      {% endfor %}-->
<!--      </ul>-->


<!--    NEW SHIT -->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
<!--        handle Picture-->
      {% if auction.image != None and list.image != '' %}
     <img src= "{{ auction.image }}" width="200" height="180">
     {% else %} No Image Uploaded {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
<!--          handle availability -->
            {% comment %} {% if listing.closed %}
            <div>Sorry, this item is no longer available.</div>
            {% endif %} {% endcomment %}
            <h1>{{ auction.title }}</h1>
            <ul>

<!--          handel remove-->
          <form action="{% url 'watchlist' auction.pk %}" method="POST">
          {% csrf_token %}
          {% if watched %}
          <button type="submit" name="listing_id" value="{{auction.id}}"
          class="btn btn-danger btn-sm">Remove From Watchlist</button>
          {% else %}
          <button type="submit" name="listing_id" value="{{auction.id}}"
          class="btn btn-primary btn-sm">Add to Watchlist</button>
          {% endif %}
     </form>
<!--                handle close auction-->
                <br>
                                {% comment %} I am handling closing bid here: {% endcomment %}
     {% if auction.close == False %}
     <form method="POST" action= "{% url 'close-listing' auction.id %}">
       {% csrf_token %}
       <input class="btn btn-danger" type="submit" value="Close My Auction"/>
       {% if messages %}
       {% for message in messages %}
       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        {{ message }}
        {% endif %}
       {% endfor %}
       {% endif %}
     </form>
     {% endif %}
<!--          -->
                <p><h5 class="card-title">{{ auction.title  }}</h5></p>
                <li>Category: {{ auction.category}}</li>
        <p class="card-text"><li>Description: {{ auction.content}}</li></p>

        <p class="card-text"><li> {% if highest_bid %}
          Current Bid:{{ highest_bid|floatformat:2 }}
          {% else %}
          Starting Bid:{{ highest_bid|floatformat:2 }}
          {% endif %}</li></p>
                <li> {% if highest_bid %}
          Current Bid:{{ highest_bid|floatformat:2 }}
          {% else %}
          Starting Bid:{{ highest_bid|floatformat:2 }}
          {% endif %}</li>
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'new-bid' auction.id %}">
      {% csrf_token %}
      <div class="form-group">
      {{ bid.bid }}<input class="btn btn-primary" type="submit" value="Place Bid"/>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        {{ message }}
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      </form>
      {% comment %} {% else %} <li> This is your own listing,
      you can not bid against your listing, see other listings.</li> {% endcomment %}
     {% endif %}

<!--                comment section -->
{% comment %} I am handling comments here: {% endcomment %}
      <form method="post">
      {% csrf_token %} {{ form.as_p }}

          <button type="submit"  value="Save" class="btn btn-success">Send Comment</button>
      </form>
      {% for user_comments in comments  %}
      <li>Comments: {{ user_comments.comment}}</li>
      {% endfor %}
      </ul>


      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


